.cartMain{
width: 100% !important;
display: flex;
flex-direction: row-reverse;
gap: 10px;
}
.cartTotalMain{
  display: flex;
flex-direction: column !important;
align-items: center;
  margin-top: 34px;
  
flex: 0.8;

 
}

.cartTotal{
  width: 75%;
  /* height: 300px; */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
   border: 1px solid #000; 

}
.cartTotalContents{
  gap: 20px;
padding: 20px;
}


.proMain1{
flex: 2.3;
display: flex;
flex-direction: column !important;
align-items: center;
}

.Product1{


  width: 90%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  
  }
  .proSub1{
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .imgFrame1 {
    flex: .5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imgFrame1 img {
    width: 60%;
    display: block;
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
  }
  @media screen and (max-width: 678px) {

    .cartMain{
      width: 100% !important;
      display: flex;
      flex-direction: column-reverse;
      gap: 10px;
      }
      .cartTotal{
        width: 90%;
      }
      .Product1{


        width: 80%;
      }
  }
  
  .proContents1{
    flex: 1;
  }
  
  
  /*  */
  .ftitle1{
  font-size: 30px;
  
  }
  .fpr1{
  font-size: 24px;
  }
  .fdpr1{
  text-decoration: line-through;
  font-size: 26px;
  padding-left: 10px;
  color: gray;
  }
  .dcnt1{
  color: green;
  font-size: 26px;
  padding-left: 10px;
  }
  
  @media screen and (max-width: 678px) {
    .ftitle1{
  font-size: 30px;
  
    }
    .fpr1{
    font-size: 22px;
    }
    .fdpr1{
      font-size: 18px;
    }
    .dcnt1{
      font-size: 18px;
    }
  
  .proSub1{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .proContents1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  }
  
   
   
  
  @media screen and (max-width: 678px) {
 

    .qtyBtn{

      display: flex;
      flex-direction: column;
    }

  }
  